.link-to-site {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    letter-spacing: 0.7px;
    @include respond-to($md){
        font-size: 27px;
    }
    @include respond-to($lg){
        font-size: 33px;
    }
}