/*
* Fonts
*/
$primary-font: "Raleway", sans-serif;


/*
* Color
*/
$primary: white;
$darken:#242424;



/*
* Breakpoints
*/
$xs: '(max-width: 0px)';
$sm: '(min-width: 576px)';
$md: '(min-width: 768px)';
$lg: '(min-width: 992px)';
$xl: '(min-width: 1230px)';
