//.section {
//    padding-top: 50px;
//    padding-bottom: 50px;
//    @include respond-to($md) {
//        padding-top: 400px;
//        padding-bottom: 100px;
//        padding-left: 40px;
//    }
//    .preloader {
//        position: fixed;
//        left: 0;
//        top: 0;
//        width: 100%;
//        height: 100%;
//        background: white;
//        z-index: 999;
//    }
//    .loader {
//        position: absolute;
//        left: 50%;
//        top: 50%;
//        transform: translate(-50%, -50%);
//        width: 42px;
//        height: 54px;
//        display: flex;
//        flex-wrap: wrap;
//        align-items: center;
//        justify-content: center;
//        text-align: center;
//    }
//    .two {
//        position: absolute;
//        //display: none;
//        width: 0;
//        top: 0;
//        left: 0;
//        right: 0;
//        bottom: 0;
//
//    }
//    .four {
//        position: absolute;
//        //display: none;
//        //width: 30%;
//        width: 0;
//        top: -15px;
//        left: 0;
//        right: 0;
//        bottom: 0;
//        //animation-delay: 4s;
//    }
//    .six {
//        //display: none;
//        //width: 30%;
//        position: absolute;
//        width: 0;
//        top: -30px;
//        left: 0;
//        right: 0;
//        bottom: 0;
//        //animation-delay: 2s;
//    }
//
//    .one {
//        //display: none;
//        position: absolute;
//        //width: 30%;
//        width: 0;
//        top: 0;
//        left: 17px;
//        right: 0;
//        bottom: 0;
//        //animation-delay: 5s;
//    }
//    .three {
//        position: absolute;
//        //display: none;
//        width: 0;
//        top: -15px;
//        left: 17px;
//        right: 0;
//        bottom: 0;
//        //animation-delay: 3s;
//    }
//    .five {
//        //display: none;
//        width: 0;
//        position: absolute;
//
//        top: -30px;
//        left: 17px;
//        right: 0;
//        bottom: 0;
//        //animation-delay: 5s;
//    }
//
//    .animated {
//        img{
//            width: 40%;
//            max-width: 24px;
//        }
//        .one {
//            animation-delay: 1s;
//        }
//        .two {
//            animation-delay: 2s;
//
//        }
//
//        .three{
//            animation-delay: 3s;
//        }
//
//        .four{
//            animation-delay: 4s;
//        }
//        .five{
//            animation-delay: 5s;
//        }
//        .six{
//            animation-delay: 6s;
//        }
//
//    }
//
//    .left {
//        flex-direction: column-reverse;
//        display: flex;
//        width: 50%;
//
//        img {
//            //width: 40%;
//            animation-name: stretchLeft;
//            animation-direction: normal;
//            animation-iteration-count: infinite;
//            animation-duration: 1.5s;
//            animation-timing-function: ease-out;
//            transition:7.4s ease 8s;
//            transform-origin: 100% 0%;
//
//
//
//        }
//
//    }
//    .right {
//        flex-direction: column-reverse;
//        display: flex;
//        width: 50%;
//
//        img {
//            //width: 40%;
//            animation-name: stretchRight;
//            animation-direction: normal;
//            animation-iteration-count: infinite;
//            animation-duration: 1.5s;
//            animation-timing-function: ease-out;
//            transform-origin: 0% 0%;
//            transition:7.4s ease 8s;
//        }
//    }
//}

@keyframes stretchRight {
    0% {
        opacity: 0;
        transform: scaleX(0);
    }
    40% {
        transform: scaleX(1.02);
    }
    60% {
        opacity: 1;
        transform: scaleX(0.98);
    }
    80% {
        transform: scaleX(1.01);
    }
    100% {
        transform: scaleX(0.98);
    }
    80% {
        transform: scaleX(1.01);
    }
    100% {
        opacity: 0;
        transform: scaleX(0);
    }
}

@keyframes stretchLeft {
    0% {
        opacity: 0;
        transform: scale3d(0, 0, 0);
    }
    40% {
        transform: scaleX(1.02);
    }
    60% {
        opacity: 1;
        transform: scaleX(0.98);
    }
    80% {
        transform: scaleX(1.01);
    }
    100% {
        transform: scaleX(0.98);
    }
    80% {
        transform: scaleX(1.01);
    }
    100% {
        opacity: 0;
        transform: scaleX(0);
    }
}
